/*html*/
html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;

}
/*navbar style*/
nav {
    margin-bottom: 18px;
}
ul {

    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornsilk;
  }
  
  li {
    float: left;
  }

  li img {
      margin-top: 10px;
      margin-left: 5px;
      height: 10%;
      width: 10%;
      padding: 0;
      /*float: left;*/
      display: inline-block;
      overflow: hidden;
  }

  li #logo {
      /*float: left;
      display: inline;
      */
      bottom: 10px;
      padding: 0;
      margin:0;
  }
  
  li a {
    display: block;
    color: rgba(8, 8, 8, 0.787);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffffff;
  }
  
  .active {
  }

  footer {
    position: fixed;
    height: 20px;
    width: 100%;
    bottom: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: cornsilk;
  }