<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackOverflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/login.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
    <nav>
        <ul>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet"> 
            <li><img src="../images/so.svg" alt="so"><a href="../templates/questions.html" id="logo" style="display:inline-block;">StackOverflow-lite</a></img></li>
        </ul>
    </nav>

    <div class="login">
        <form>
            <label for="user">Username</label>
            <input id="user" type="text" placeholder="username" />
            <label for="pass">Password</label>
            <input id="pass" type="password" placeholder="password" />
            <input type="submit" value="Login" />
            <a href="#" id="fpass">Or Forgot Password?</a>
            <a href="../templates/register.html" id="freg">Register</a>
        </form>
    </div>

    <footer>
        Copyright 2018
    </footer>
</body>

</html>