<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackOverflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <nav>
        <ul>
            <li><img src="../images/so.svg" alt="so"><a>StackOverflow-lite</a></li>
            <li><button style="float:right">Login</button></li>
        </ul>
    </nav>

    <div class="login">
        <form>
            <label>Username</label>
            <input type="text" placeholder="username"/>
            <label>Password</label>
            <input type="password" placeholder="password"/>
            <input type="submit" value="Login"/>
        </form>
    </div>

    <footer>
        Copyright 2018
    </footer>
</body>
</html>