<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackOverflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/question.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../styles/questions.css"/>
</head>

<body>

    <nav>
        <ul>
            <li><img src="../images/so.svg" alt="so"><a href="#" id="logo" style="display:inline-block;">StackOverflow-lite</a></img></li>
            <li style="float:right"><a class="active" href="#">Login</a></li>
        </ul>
    </nav>


    <div class="sidenav">

        <ul id="sidenav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Public</a></li>
            <ul>
                <li><a href="#">StackOverflow</a></li>
                <li><a href="#">Tags</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </ul>
    </div>

    <div class="questions">
        <div>
            <h3>Top Questions</h3>
            <button>Ask a question</button>
        </div>
        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>
        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>
    </div>

    <footer>
        Copyright 2018
    </footer>
</body>

</html>