<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackOverflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/question.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../styles/questions.css"/>
</head>

<body>

    <nav>
        <ul>
            <li><img src="../images/so.svg" alt="so"><a href="#" id="logo" style="display:inline-block;">StackOverflow-lite</a></img></li>
            <li style="float:right"><a id="login" href="#">Login</a></li>
        </ul>
    </nav>


    <div class="sidenav">

        <ul id="sidenav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Public</a></li>
            <ul>
                <li><a href="#">StackOverflow</a></li>
                <li><a href="#">Tags</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </ul>
    </div>

    <div class="questions">
        <div>
            <h2>Top Questions</h2>
            <button>Ask a question</button>
        </div>
        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>2</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>25</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">How to set up Flask Python</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                </div>
                <div class="timestamp">
                    <a>asked 40 sec ago</a>
                    <a href="#" id="user">Saruk_op</a>
                </div>
            </div>

        </div>
        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>-1</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>5</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">Android: LanguageTool API receives java.lang.RuntimeException</a></h3>
                <div class="tags">
                    <a href="#">java</a>
                    <a href="#">android</a>
                </div>
                <div class="timestamp">
                    <a>asked 2 mins ago</a>
                    <a href="#" id="user">kelvin_xGA</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>22</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>7</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>605</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">About using Eclipse Che on Erlang Programming</a></h3>
                <div class="tags">
                    <a href="#">erlang</a>
                </div>
                <div class="timestamp">
                    <a>asked 1 sec ago</a>
                    <a href="#" id="user">sharon_we</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>5</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">Should I create a new instance of boto3 client for each file upload request, or use a shared instance</a></h3>
                <div class="tags">
                    <a href="#">python</a>
                    <a href="#">flask</a>
                    <a href="#">boto3</a>
                </div>
                <div class="timestamp">
                    <a>asked 8 mins ago</a>
                    <a href="#" id="user">alik_Ksa</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>1</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>35</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">Azure batch parallel workload with Azure Batch using Python API</a></h3>
                <div class="tags">
                    <a href="#">Azure</a>
                    <a href="#">azure-batch</a>
                </div>
                <div class="timestamp">
                    <a>asked 10 mins ago</a>
                    <a href="#" id="user">Showman</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>5</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">Using Node.dll binary to execute JS in Win32</a></h3>
                <div class="tags">
                    <a href="#">node.js</a>
                    <a href="#">winapi</a>
                </div>
                <div class="timestamp">
                    <a>modified 3 mins ago</a>
                    <a href="#" id="user">exaltpp</a>
                </div>
            </div>

        </div>

        <div class="q-lists">
            <div class="calc">
                <div class="votes">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>votes</div>
                </div>
                <div class="answers">
                    <div class="count">
                        <span>0</span>
                    </div>
                    <div>answers</div>
                </div>
                <div class="views">
                    <div class="count">
                        <span>15</span>
                    </div>
                    <div>views</div>
                </div>
            </div>
            <div class="summary">
                <h3><a href="#">Maybe someone can help me to explain behaviour of this code testing race condition in Go?</a></h3>
                <div class="tags">
                    <a href="#">go</a>
                </div>
                <div class="timestamp">
                    <a>asked 4 mins ago</a>
                    <a href="#" id="user">user551</a>
                </div>
            </div>

        </div>
    </div>

    <footer>
        Copyright 2018
    </footer>
</body>

</html>