<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackOverflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/login.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
    <nav>
        <ul>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
            <li><img src="../images/so.svg" alt="so"><a href="../templates/questions.html" id="logo" style="display:inline-block;">StackOverflow-lite</a></img></li>
        </ul>
    </nav>

    <div class="register">
        <form>
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="email"/>
            <label for="pass">Password</label>
            <input type="password" id="pass" placeholder="password"/>
            <label for="cpass">Confirm Password</label>
            <input type="password" id="cpass" placeholder="confirm password"/>
            <input type="submit" value="submit"/>
            
            <a href="../templates/login.html" id="fpass">Arleady have an Account?</a>
        </form>
    </div>
    <footer>
        Copyright 2018
    </footer>
</body>

</html>